swap:
  bzzaccounts:
    - 7338babe3975595e39b90ffbb097f70a2070a665
    - 5afaed16435fe67d4fcbfcf9b0bcd3463333a356
    - ccee7cba14f46a7ec390c7426a074a0d278764f1
    - 4348646e8da90390ca9c96f32f650bd386e1e258
    - c1db47b22c50477541b9df51bcd70ff7443a4a27
    - 4c2c21a7d896f22c7563376b5dfd10ccf8058342
    - 3aebbc9b35035520f5d6ef35df5f5013f5d30beb
    - eea7008b30d77adfa44b3e1ff6a58baeace84861
    - 12051217cc3792ad04be5ce2e2a9e64e03237213
    - b2a7e2483099a2e8b88c3f1a655e9a22659b1f3b
    - d264f3f330fbf7647fb054f819df66a66c3fb7bb
    - 57882cc147d8995805350228a599d17d00dae3e8
    - 2824ea98fa0c513b6aa04e9b1b78fb628067d6a9
    - 4554bd58814b7ef208a48833a700b0455e67d0d0
    - 8f91f6b84e8d5bbdadbafee9940f8e2a557719f1
    - ff123152e99b6865c2db19b962c70b843b249aa9
    - 062fff19ebbf7cad976d7511ab563cc9cf2a5757
    - c06ee6100385de9ee8ced4246992aedc179b7b77
    - b8c1b11131616a9f04604605a0d9761cc8dbe253
    - f0d4e2d07c368ec0896aa731b94c10ba62216f23
    - 54775dfc6361e9c1014626845a7cb832f4f54bad
    - 8ab5864386b47ab4a5219a631b15faff85919010
    - 25a814375ccd136ddbe5c0e9cdbb88076906e38a
    - c8d57b23f5e4b0645da78a5b6fc16493368901c5
    - a7b869bc131acef0d078a4f0c616d9123ead4701
    - 48c43b6477d88155be90cf6948dac441db662767
    - 3236adebae1c3a89b2c3474b39cce4802ee0e3dc
    - 41e2d5b1d23024314663ebbc8e73a29e332afd77
    - 484b06cd3a8acc5840108f69884ded16ce2a54a9
    - 9105e99ae4ce9ad11970386d565d055bc9fc9c92
    - b6ce9441ab49e17851060538e37145f3cd7fd721
    - b6c83c45888a8d4524bb36fea00d08db65a1eb08
    - e8cdab492b5996bba41eb7631f559f24aa7edb1f
    - f4deb07d93eab61884451c673226dcf4cfe5f710
    - fd886b9bdd2281e403dc2ede74f4126ea13834f2
    - b45049f500485e7fb4a65adb7032787dff6d1522
    - 8ba9ec866868414e843dc50554cdf8ffe46ea42a
    - 0d142ce72b1020e05f6dc8ceabcfe839b45bfdb6
    - 01e3bdd75c2640026b804b9fa8b9b0f370903dc3
    - 830d936392dbef042c501cfaa2599204b23692f4
    - 4558ab6d518bf60b813eeba3077eed986027c5da
    - 24d7ed323121dedde08d1a9bbd9d054b839daeb8
    - 59ad7a86e3115e50af278edb46917bb1d447172a
    - 1c4bc31fb44362ee7523a715913ef88cb2124d9c
    - 9ce69a62ca736b28a08baf2aad48349d218f3182
    - c3c35870314aa71aa4d05dbdebe944c42e4bafc1
    - 5adfa56c2b2dd376c0bb8c84a98a104c5eb941bd
    - 79a8de17b158c5e01700c5194cec99928db79d10
    - 11f0814edf168ad98971b6312471679b4b62ea39
    - 51bd7801d553847a097166a0bc5f4374eab8e421
    - 0a881601b8784af922bcbb9c72a88acff88b62d6
    - 02983777cbd3658286f03dcb536e3e8811c142dc
    - e5e085615ffc9269d8594162ac099daae7257ffb
    - f2ea4942e604d26fd9f361a09d132b9b6acef8ac
    - cc5433fcb968b928b52faf1eeea432511d30ea0e
    - fddae45c45a4aa6f3c1e794aca2711a779ac9c49
    - 0227eb32cc82c8f73f17a5e5b0823e9329b0ff18
    - bcf15c7f639da90b11bfa59ae9f1fbd5ed1de3b6
    - 2f597414d3a70990d0e44a15c091cb395db235c0
    - 4a8ebacfbaf69d84083b111a810dd7c8df0bd56c
    - f2c1a7f7cfe26488cdacf5aeb59e03db8451a268
    - 19298eb3015c8945c580ef4bfc18393b325cda8f
    - 493bd8324592bc697c5cfd62ad29ce34e6993682
    - c8eca67ff118bf3b6cebd220cb67bf6ed307a22a
    - ee486c3a4d61b6d89c022c5d5e95e253098a4ac0
    - 7770f68e1863820394cf3098a1d549eeb40df6d6
    - 5c6fa753105bdc7fca2ee26b9edbf8febc19c893
    - 54f248e07c10966a1c46b066b6873ccc7dc2c0c7
    - 47150559ee6969019f9eb7e25d7dd7fa14e2197f
    - 2c1e9978a4ae35d2ed0bdde0acb0014808947ece
    - bddf1953966dd1b0afabb19f9fa352be9dc3632b
    - fcc03ebd6d0626a73bb27e03202c73e6778b9de4
    - 884162a44a6138fdd98b768522b19c274002b066
    - ff792b685a62f3b6bbbb3991ff8c3a3d3e071905
    - 6f4ece068b0b32012e84a99cb02ee012244e202e
    - 9b976125f75edfef865295565c5fe131885fa4da
    - 9576c23a4f25b7de7a1db04cc9a6d0c77909182c
    - 14291daecd96debfe886969bec2fea00a4202a1b
    - be28861da1149eec3ee6d444b66abce7c497703b
    - 42ee908a1576c0b352bb930414a7d4f888e9598e

geth:
  genesis:
    gasLimit: "0x900000"
    clique:
      period: 1

imageSetupContract:
  tag: 0.2.0

image:
  repository: ethereum/client-go
  tag: v1.10.4
  pullPolicy: IfNotPresent
resources:
  limits:
    cpu: 500m
    memory: 1024Mi
  requests:
    cpu: 500m
    memory: 1024Mi

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: traefik
  # ingressClassName: traefik
  hosts:
    - domain: localhost
      paths:
        - /
