apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    dashboard:
      enabled: true
      service:
        type: ClusterIP
      ingressRoute:
        enabled: true
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: web
        match: Host(`traefik.localhost`)
    
    additionalArguments:
      - "--entryPoints.web.transport.respondingTimeouts.readTimeout=300s"
      - "--entryPoints.web.transport.respondingTimeouts.writeTimeout=300s"
      - "--entryPoints.web.transport.respondingTimeouts.idleTimeout=300s"
      - "--entryPoints.websecure.transport.respondingTimeouts.readTimeout=300s"
      - "--entryPoints.websecure.transport.respondingTimeouts.writeTimeout=300s"
      - "--entryPoints.websecure.transport.respondingTimeouts.idleTimeout=300s"
      - "--api.dashboard=true"
      - "--api.insecure=true"
      - "--accesslog=true"
      - "--accesslog.format=json"
      - "--log.level=DEBUG"
